<div class="center-container">
  <div class="centerarticle-title-container">
    <h2 class="centerarticle-title"> yuuu1993gのブックマーク ({{ bookmarks.length }}) </h2>
  </div>
  <div class="centerarticle-search">
    <form class="centerarticle-search-form" action="/yuuu1993g/search" method="GET">
      <input name="q" type="text" autocomplete="off" class="centerarticle-search-field js-bookmark-incremental-search-field" placeholder="ブックマークを検索">
      <input class="is-hidden" type="submit" value="検索">
    </form>
  </div>
  <ul class="js-user-bookmark-item-list js-keyboard-controllable-container">
    <li *ngFor="let bookmark of bookmarks" class="bookmark-item js-user-bookmark-item">
      <div class="centerarticle-entry is-image-entry-unit">
        <h3 class="centerarticle-entry-title">
          <a href="{{bookmark.url}}" class="js-clickable-link js-keyboard-openable" target="_blank" rel="noopener" data-gtm-click-label="user-my-bookmark-title">
            {{bookmark.title}}
          </a>
        </h3>
      </div>
      <div class="centerarticle-reaction js-user-bookmark-id-container" id="bookmark-4702432445004098114">
        <div class="centerarticle-reaction-comment js-user-bookmark-comment js-star-sweeped is-short-url-clicks-loaded" data-url="https://logmi.jp/tech/articles/324298" data-user-name="yuuu1993g">
          <div class="centerarticle-reaction-main">
            <span class="centerarticle-reaction-timestamp">{{bookmark.registDate}}</span>
            <span class="centerarticle-reaction-main-comment-tags">
              <ul class="centerarticle-reaction-tags js-tag-text">
                <li *ngFor="let tag of bookmark.tags" >
                  <a href="/yuuu1993g/{{tag.name}}/" data-gtm-click-label="user-my-reaction-tag">{{tag.name}}</a>
                </li>
              </ul>
            </span>
          </div>
        </div>
      </div>
    </li>

    <li>
      <div class="centerarticle-pager">
        <span class="centerarticle-waiting js-read-more-waiting is-hidden"><img src="https://b.st-hatena.com/images/v4/public/common/loading@2x.gif?version=4bb643f4ebb85ca735cd112f23d7809ba8d6531d" alt="残りのブックマークを読み込んでいます" width="16" height="16"></span>
            <a href="/yuuu1993g/bookmark?page=1">前のページ</a>
              <span><a href="/yuuu1993g/bookmark?page=1">1</a></span>
              <span>2</span>
              <span><a href="/yuuu1993g/bookmark?page=3">3</a></span>
              <span><a href="/yuuu1993g/bookmark?page=4">4</a></span>
              <span><a href="/yuuu1993g/bookmark?page=5">5</a></span>
              <span><a href="/yuuu1993g/bookmark?page=6">6</a></span>
              <span><a href="/yuuu1993g/bookmark?page=7">7</a></span>
              <span><a href="/yuuu1993g/bookmark?page=8">8</a></span>
              <span><a href="/yuuu1993g/bookmark?page=9">9</a></span>
              <span><a href="/yuuu1993g/bookmark?page=10">10</a></span>
            <a href="/yuuu1993g/bookmark?page=3">次のページ</a>
      </div>
    </li>
  </ul>
</div>
