/*! CSS Used from: https://b.st-hatena.com/css/v4/bookmark.css?version=4bb643f4ebb85ca735cd112f23d7809ba8d6531d */
a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}
strong{font-weight:700;}
img{border:0;}
button,input,textarea{font-family:inherit;font-size:100%;margin:0;}
button,input{line-height:normal;}
button{text-transform:none;}
button,input[type=submit]{-webkit-appearance:button;cursor:pointer;}
input[type=checkbox]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
h2,h3,li,p,ul{margin:0;padding:0;}
li,ul{list-style:none;}
input[type=submit],input[type=text]{-webkit-appearance:none;}
.is-hidden{display:none!important;}
template{display:none;}
.twitter-click{background:url(https://b.st-hatena.com/images/v4/public/common/icon-twitter-click.svg?version=66eabb92e6de889d68b4) no-repeat 0;background-size:12px 10px;font-size:12px;margin-left:8px;white-space:nowrap;}
.twitter-click a,.twitter-click span{color:#55acde;}
.twitter-click span{padding-left:14px;}
.list-star-container:empty~.twitter-click{margin-left:0;}
.bookmarkadd-submit-btn{background:#009ad0;border:none;border-radius:3px;color:#fff!important;padding:6px 12px;text-decoration:none;}
.bookmarkadd-submit-btn:hover{background:#0087b7;text-decoration:none!important;}
.bookmarkadd-submit-btn:disabled{cursor:not-allowed;opacity:.38;pointer-events:none;}
.bookmarkadd-cancel-btn{background-color:#f5f5f5;border:1px solid #ddd;border-radius:3px;-webkit-box-sizing:border-box;box-sizing:border-box;color:#333!important;cursor:pointer;display:inline-block;text-decoration:none;}
.bookmarkadd-cancel-btn:hover{background-color:#eee;text-decoration:none!important;}
.bookmarkadd-twitter{border-radius:50%;display:block;height:-webkit-fit-content;height:-moz-fit-content;height:fit-content;position:relative;width:-webkit-fit-content;width:-moz-fit-content;width:fit-content;}
.bookmarkadd-twitter:before{background-color:currentColor;color:rgba(70,82,94,.8);content:"";display:inline-block;height:32px;-webkit-mask-image:url(https://b.st-hatena.com/images/v4/public/icons/ic-arrow-turn-up-right.svg?version=76f2012afacbb70f9ce8),url(https://b.st-hatena.com/images/v4/public/icons/ic-arrow-turn-up-right-fill.svg?version=ceb8934cfeb761643887);mask-image:url(https://b.st-hatena.com/images/v4/public/icons/ic-arrow-turn-up-right.svg?version=76f2012afacbb70f9ce8),url(https://b.st-hatena.com/images/v4/public/icons/ic-arrow-turn-up-right-fill.svg?version=ceb8934cfeb761643887);-webkit-mask-position:center center,-200% -200%;mask-position:center center,-200% -200%;-webkit-mask-repeat:no-repeat,no-repeat;mask-repeat:no-repeat,no-repeat;-webkit-mask-size:20px,20px;mask-size:20px,20px;vertical-align:middle;width:32px;}
.bookmarkadd-twitter:hover{background-color:rgba(83,100,118,.05);}
@media (max-width:480px){
.bookmarkadd-twitter{border-radius:initial;color:rgba(70,82,94,.8);font-size:12px;white-space:nowrap;}
.bookmarkadd-twitter:before{color:rgba(12,14,16,.38);height:20px;-webkit-mask-size:14px,14px;mask-size:14px,14px;position:relative;width:20px;z-index:1;}
.bookmarkadd-twitter:hover{background-color:initial;}
}
.bookmarkadd-readlater{border-radius:50%;display:block;height:-webkit-fit-content;height:-moz-fit-content;height:fit-content;position:relative;width:-webkit-fit-content;width:-moz-fit-content;width:fit-content;}
.bookmarkadd-readlater:before{background-color:currentColor;color:rgba(70,82,94,.8);content:"";display:inline-block;height:32px;-webkit-mask-image:url(https://b.st-hatena.com/images/v4/public/icons/ic-alarm.svg?version=986aa7a03fc6cfefb8af),url(https://b.st-hatena.com/images/v4/public/icons/ic-alarm-fill.svg?version=ebbbd97f91092338694e);mask-image:url(https://b.st-hatena.com/images/v4/public/icons/ic-alarm.svg?version=986aa7a03fc6cfefb8af),url(https://b.st-hatena.com/images/v4/public/icons/ic-alarm-fill.svg?version=ebbbd97f91092338694e);-webkit-mask-position:center center,-200% -200%;mask-position:center center,-200% -200%;-webkit-mask-repeat:no-repeat,no-repeat;mask-repeat:no-repeat,no-repeat;-webkit-mask-size:20px,20px;mask-size:20px,20px;vertical-align:middle;width:32px;}
.bookmarkadd-readlater:hover{background-color:rgba(83,100,118,.05);}
@media (max-width:480px){
.bookmarkadd-readlater{border-radius:initial;color:rgba(70,82,94,.8);font-size:12px;white-space:nowrap;}
.bookmarkadd-readlater:before{color:rgba(12,14,16,.38);height:20px;-webkit-mask-size:14px,14px;mask-size:14px,14px;position:relative;width:20px;z-index:1;}
.bookmarkadd-readlater:hover{background-color:initial;}
}
.bookmarkadd-private{border-radius:50%;display:block;height:-webkit-fit-content;height:-moz-fit-content;height:fit-content;position:relative;width:-webkit-fit-content;width:-moz-fit-content;width:fit-content;}
.bookmarkadd-private:before{background-color:currentColor;color:rgba(70,82,94,.8);content:"";display:inline-block;height:32px;-webkit-mask-image:url(https://b.st-hatena.com/images/v4/public/icons/ic-lock.svg?version=7835a39349d27603004a),url(https://b.st-hatena.com/images/v4/public/icons/ic-lock-fill.svg?version=617b6ac05be96bc6fd89);mask-image:url(https://b.st-hatena.com/images/v4/public/icons/ic-lock.svg?version=7835a39349d27603004a),url(https://b.st-hatena.com/images/v4/public/icons/ic-lock-fill.svg?version=617b6ac05be96bc6fd89);-webkit-mask-position:center center,-200% -200%;mask-position:center center,-200% -200%;-webkit-mask-repeat:no-repeat,no-repeat;mask-repeat:no-repeat,no-repeat;-webkit-mask-size:20px,20px;mask-size:20px,20px;vertical-align:middle;width:32px;}
.bookmarkadd-private:hover{background-color:rgba(83,100,118,.05);}
@media (max-width:480px){
.bookmarkadd-private{border-radius:initial;color:rgba(70,82,94,.8);font-size:12px;white-space:nowrap;}
.bookmarkadd-private:before{color:rgba(12,14,16,.38);height:20px;-webkit-mask-size:14px,14px;mask-size:14px,14px;position:relative;width:20px;z-index:1;}
.bookmarkadd-private:hover{background-color:initial;}
}
.bookmarkadd-shareInput{-webkit-appearance:none;-moz-appearance:none;appearance:none;-webkit-box-sizing:border-box;box-sizing:border-box;display:block;height:100%;opacity:0;position:absolute;width:100%;}
@media (max-width:480px){
.bookmarkadd-shareInput{background-color:#fff;border:1px solid #ccc;border-radius:3px;height:20px;opacity:1;width:20px;}
}
@media (max-width:480px){
.bookmarkadd-shareInput:disabled{background:none;border:none;}
}
.bookmarkadd-shareInput:disabled+.bookmarkadd-twitter{cursor:default;}
.bookmarkadd-shareInput:disabled+.bookmarkadd-twitter:before{color:rgba(12,14,16,.38);-webkit-mask-image:url(https://b.st-hatena.com/images/v4/public/icons/ic-arrow-turn-up-right-slash.svg?version=0ba3ab30cd82cee84e91);mask-image:url(https://b.st-hatena.com/images/v4/public/icons/ic-arrow-turn-up-right-slash.svg?version=0ba3ab30cd82cee84e91);}
.bookmarkadd-shareInput:disabled+.bookmarkadd-twitter:hover{background-color:inherit;}
@media not all and (max-width:480px){
.bookmarkadd-shareInput:disabled+.bookmarkadd-twitter .bookmarkadd-share-text{display:none;}
}
.editing-form{position:relative;}
.bookmarkadd-comment{background:#fff;border:1px solid #ccc;border-radius:3px;padding:5px;position:relative;}
@media not all and (max-width:480px){
.bookmarkadd-comment:hover{border-color:#b3b3b3;}
}
@media (max-width:480px){
.bookmarkadd-comment{border-bottom-color:#ececec;border-radius:3px 3px 0 0;}
}
.bookmarkadd-comment-form{border:none;-webkit-box-sizing:border-box;box-sizing:border-box;font-size:14px;height:5em;outline:none;resize:none;width:100%;}
@media (max-width:480px){
.bookmarkadd-comment-form{font-size:16px;height:6em;}
}
.bookmarkadd-comment-form.is-comment-form-shrink{height:2em;}
@media (max-width:480px){
.bookmarkadd-comment-form.is-comment-form-shrink{height:3em;}
}
.bookmarkadd-comment-form.is-comment-form-shrink~.bookmarkadd-comment-footer{display:none;}
.bookmarkadd-comment-form::-webkit-input-placeholder{color:rgba(70,82,94,.8);opacity:1;}
.bookmarkadd-comment-form::-moz-placeholder{color:rgba(70,82,94,.8);opacity:1;}
.bookmarkadd-comment-form:-ms-input-placeholder{color:rgba(70,82,94,.8);opacity:1;}
.bookmarkadd-comment-form::-ms-input-placeholder{color:rgba(70,82,94,.8);opacity:1;}
.bookmarkadd-comment-form::placeholder{color:rgba(70,82,94,.8);opacity:1;}
@media (max-width:480px){
.bookmarkadd-comment-form::-webkit-input-placeholder{font-size:14px;}
.bookmarkadd-comment-form::-moz-placeholder{font-size:14px;}
.bookmarkadd-comment-form:-ms-input-placeholder{font-size:14px;}
.bookmarkadd-comment-form::-ms-input-placeholder{font-size:14px;}
.bookmarkadd-comment-form::placeholder{font-size:14px;}
}
.bookmarkadd-comment-footer{-webkit-box-align:end;-ms-flex-align:end;-webkit-align-items:flex-end;align-items:flex-end;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;padding:4px 4px 0;}
.bookmarkadd-community-guideline{color:rgba(70,82,94,.8);font-size:11px;padding-right:4px;}
.bookmarkadd-community-guideline p:before{background-color:currentColor;content:"";display:inline-block;height:13px;-webkit-mask-image:url(https://b.st-hatena.com/images/v4/public/icons/ic-info.svg?version=bc4b0551f2d5c639eb82);mask-image:url(https://b.st-hatena.com/images/v4/public/icons/ic-info.svg?version=bc4b0551f2d5c639eb82);-webkit-mask-position:left top;mask-position:left top;-webkit-mask-repeat:no-repeat;mask-repeat:no-repeat;-webkit-mask-size:11px;mask-size:11px;vertical-align:text-bottom;width:11px;}
.bookmarkadd-community-guideline a{color:#009ad0;text-decoration:none!important;}
.bookmarkadd-comment-count{color:rgba(70,82,94,.8);display:inline-block;font-size:12px;margin-left:auto;white-space:nowrap;}
.bookmarkadd-comment-slash{margin:0 2px;}
.bookmarkadd-options{-webkit-box-pack:justify;-ms-flex-pack:justify;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-justify-content:space-between;justify-content:space-between;margin:5px 0 0;position:relative;}
@media (max-width:480px){
.bookmarkadd-options{display:block;margin:initial;}
}
.bookmarkadd-tags{width:100%; -webkit-box-sizing:border-box;box-sizing:border-box;position:relative;}
.bookmarkadd-tags:hover{border-bottom-color:#ccc;}
@media (max-width:480px){
  .bookmarkadd-tags{background-color:#fff;border:1px solid #ccc;border-radius:0 0 3px 3px;border-top:none;margin:0 0 16px;width:100%;}
}
.bookmarkadd-tags-textbox{border:1px solid #ccc;border-radius:3px;-webkit-appearance:none;background:transparent;-webkit-box-sizing:border-box;box-sizing:border-box;color:currentColor;cursor:pointer;font-size:13px;height:26px;line-height:normal;outline:none;padding:4px 24px 4px 6px;vertical-align:middle;width:200px;}
.bookmarkadd-tags-textbox:focus{cursor:text;}
.bookmarkadd-tags-textbox::-webkit-input-placeholder{color:rgba(70,82,94,.8);opacity:1;}
.bookmarkadd-tags-textbox::-moz-placeholder{color:rgba(70,82,94,.8);opacity:1;}
.bookmarkadd-tags-textbox:-ms-input-placeholder{color:rgba(70,82,94,.8);opacity:1;}
.bookmarkadd-tags-textbox::-ms-input-placeholder{color:rgba(70,82,94,.8);opacity:1;}
.bookmarkadd-tags-textbox::placeholder{color:rgba(70,82,94,.8);opacity:1;}
@media (max-width:480px){
  .bookmarkadd-tags-textbox{cursor:text;font-size:16px;height:32px;padding:8px 24px 8px 0;}
  .bookmarkadd-tags-textbox::-webkit-input-placeholder{font-size:12px;}
  .bookmarkadd-tags-textbox::-moz-placeholder{font-size:12px;}
  .bookmarkadd-tags-textbox:-ms-input-placeholder{font-size:12px;}
  .bookmarkadd-tags-textbox::-ms-input-placeholder{font-size:12px;}
  .bookmarkadd-tags-textbox::placeholder{font-size:12px;}
}
.bookmarkadd-share{-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;margin-left:auto;}
@media (max-width:480px){
.bookmarkadd-share{display:block;}
}
.bookmarkadd-share-block{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;margin-right:8px;}
@media (max-width:480px){
.bookmarkadd-share-block{-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin:8px 0 0;}
}
.bookmarkadd-share-label{cursor:pointer;margin-right:12px;position:relative;}
.bookmarkadd-share-label:last-of-type{margin-right:0;}
@media not all and (max-width:480px){
.bookmarkadd-share-label:hover .bookmarkadd-share-text{display:block;}
}
@media (max-width:480px){
.bookmarkadd-share-label{margin-bottom:16px;}
.bookmarkadd-share-text{display:inline-block;line-height:1;vertical-align:middle;}
}
@media not all and (max-width:480px){
.bookmarkadd-share-text.twitter{background:#333;border-radius:3px;color:#fff;display:none;font-size:11px;left:-92px;letter-spacing:normal;line-height:normal;margin:auto;padding:6px 8px;pointer-events:none;position:absolute;right:-92px;text-align:center;top:-35px;width:92px;z-index:999;}
.bookmarkadd-share-text.twitter:after{border-color:#333 transparent transparent;border-style:solid;border-width:6px 6px 0;bottom:-6px;content:"";height:0;left:calc(50% - 6px);position:absolute;width:0;}
@media (max-width:480px){
.bookmarkadd-share-text.twitter{display:none!important;}
}
.bookmarkadd-share-text.twitter:before{background:url(https://b.st-hatena.com/images/v4/public/icons/ic-twitter.svg?version=4656cf329165cf7df8b1) no-repeat 0;background-size:contain;content:"";display:inline-block;height:14px;margin-left:-2px;vertical-align:text-bottom;width:14px;}
.bookmarkadd-share-text.readlater{background:#333;border-radius:3px;color:#fff;display:none;font-size:11px;left:-60px;letter-spacing:normal;line-height:normal;margin:auto;padding:6px 8px;pointer-events:none;position:absolute;right:-60px;text-align:center;top:-35px;width:60px;z-index:999;}
.bookmarkadd-share-text.readlater:after{border-color:#333 transparent transparent;border-style:solid;border-width:6px 6px 0;bottom:-6px;content:"";height:0;left:calc(50% - 6px);position:absolute;width:0;}
@media (max-width:480px){
.bookmarkadd-share-text.readlater{display:none!important;}
}
.bookmarkadd-share-text.private{background:#333;border-radius:3px;color:#fff;display:none;font-size:11px;left:-40px;letter-spacing:normal;line-height:normal;margin:auto;padding:6px 8px;pointer-events:none;position:absolute;right:-40px;text-align:center;top:-35px;width:40px;z-index:999;}
.bookmarkadd-share-text.private:after{border-color:#333 transparent transparent;border-style:solid;border-width:6px 6px 0;bottom:-6px;content:"";height:0;left:calc(50% - 6px);position:absolute;width:0;}
@media (max-width:480px){
.bookmarkadd-share-text.private{display:none!important;}
}
}
.bookmarkadd-tagList-title{font-size:12px;margin:0 0 4px;}
.bookmarkadd-tagList-title a{color:#009ad0;font-weight:400;margin:0 0 0 12px;text-decoration:none;}
.bookmarkadd-tagList-title a:hover{text-decoration:underline;}
.bookmarkadd-tagList-title button{-webkit-appearance:none;background-color:transparent;border:none;border-radius:0;color:#009ad0;font-weight:400;margin:0 0 0 12px;padding:0;}
.bookmarkadd-tagList-title button:hover{text-decoration:underline;}
.bookmarkadd-tagList-title.often{margin-top:8px;}
.bookmarkadd-tagList-contents{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;font-size:12px;max-height:60px;overflow-y:hidden;}
@media (max-width:480px){
.bookmarkadd-tagList-contents{max-height:172px;overflow-y:scroll;}
}
.bookmarkadd-externalHelp{background:#dff2f7;border:1px solid #b6e1ed;color:#268098;font-size:13px;margin:5px 0 0;padding:5px 10px;}
.bookmarkadd-externalHelp a{color:#268098!important;}
.bookmarkadd-externalHelp-link{margin:0 0 0 8px;text-decoration:underline!important;}
@media (max-width:480px){
.bookmarkadd-submit-btn{display:block;font-size:15px;font-weight:700;padding:8px 0;width:100%;}
.bookmark-modal-inner .bookmarkadd-submit-btn{left:auto;position:static;top:auto;}
}
.bookmarkadd-cancel-btn{color:#55606a!important;font-size:14px;padding:5px 12px;}
@media (max-width:480px){
.bookmarkadd-cancel-btn{display:none;}
}
.entry-users{color:#ff4166;font-size:13px;}
.entry-info-meta{-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;position:relative;}
.entry-info-domain{font-size:14px;margin-right:8px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.entry-info-domain,.entry-info-domain a{color:rgba(70,82,94,.8);}
.entry-info-domain img{height:16px;margin-right:3px;padding-bottom:2px;vertical-align:middle;width:16px;}
@media (max-width:480px){
.entry-info-domain img{height:12px;width:12px;}
}
@media (max-width:480px){
.entry-info-domain{margin-right:4px;}
}
.bookmark-modal{background-color:rgba(0,0,0,.7);background-image:url(https://b.st-hatena.com/images/v4/public/entry/overlay-close.svg?version=90083cc46185eb0a7846);background-position:right 16px top 16px;background-repeat:no-repeat;background-size:20px 20px;height:100%;left:0;overflow:scroll;position:fixed;top:0;width:100%;z-index:1020;}
.bookmark-modal .entry-users{margin:0 5px 0 0;white-space:nowrap;}
.bookmark-modal-inner{background:#fff;border-radius:3px;-webkit-box-sizing:border-box;box-sizing:border-box;margin:46px 8px 100px;}
.bookmark-modal-info{line-height:1.4;padding:16px 16px 12px;position:relative;}
.bookmark-modal-title{font-size:14px;margin:0 0 4px;}
.bookmark-modal-form{background-color:#f6f7f8;padding:16px;position:relative;}
.centerarticle-wrapper a{text-decoration:none;}
.center-container{-webkit-box-sizing:border-box;box-sizing:border-box;}
.center-container{-webkit-box-flex:1;-ms-flex-positive:1;-ms-flex-negative:0;-webkit-flex-grow:1;flex-grow:1;-webkit-flex-shrink:0;flex-shrink:0;max-width:568px;padding:25px 16px 0;position:relative;}
.centerarticle-title{-webkit-box-flex:1;-ms-flex-positive:1;-webkit-flex-grow:1;flex-grow:1;}
.centerarticle-title{word-wrap:break-word;border-bottom:1px solid #ddd;font-size:100%;overflow-wrap:break-word;padding:0 4px 4px;}
.centerarticle-title-container{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
.centerarticle-users{display:inline-block;font-size:13px;}
.centerarticle-users a{color:#f94e5b!important;}
.centerarticle-pager{border-bottom:1px solid #ddd;font-size:14px;padding:15px 0;text-align:center;}
.centerarticle-pager span{padding:0 3px;}
.centerarticle-pager a{color:#009ad0;}
.centerarticle-pager a:hover{text-decoration:underline;}
@media (max-width:480px){
.centerarticle-pager{margin:0 12px;}
.centerarticle-pager span{display:none;}
.centerarticle-pager .centerarticle-pager-next{display:inline-block;margin:0 4px;padding:0;width:45%;}
.centerarticle-pager .centerarticle-pager-next a{background:#f6f7f8;border-radius:3px;color:#374148;display:inline-block;padding:8px 0;width:100%;}
.centerarticle-pager .centerarticle-pager-next a:hover{text-decoration:none;}
}
.centerarticle-waiting{margin-right:8px;}
.centerarticle-waiting img{vertical-align:middle;}
.centerarticle-search{margin-top:15px;position:relative;}
.centerarticle-search-form{margin:0;}
@media (max-width:840px){
.centerarticle-search-form{background-color:#f6f7f8;-webkit-box-shadow:inset 0 0 8px rgba(0,0,0,.05);box-shadow:inset 0 0 8px rgba(0,0,0,.05);height:30px;margin:0 12px 8px;overflow:hidden;}
}
.centerarticle-search-field{background:url(https://b.st-hatena.com/images/v4/public/search-icon.svg?version=e114fc255cd20de58fb4) no-repeat 8px;background-size:15px 15px;border:1px solid #ccc;border-radius:3px;-webkit-box-sizing:border-box;box-sizing:border-box;color:#666;font-size:13px;line-height:17px;padding:6px 6px 6px 26px;width:100%;}
.centerarticle-search-field:hover{border-color:#999;}
@media (max-width:840px){
.centerarticle-search-field{border:none;font-size:16px;height:40px;line-height:1;-webkit-transform:scale(.75);transform:scale(.75);-webkit-transform-origin:left top;transform-origin:left top;width:133.333%;}
}
.centerarticle-search-field::-webkit-input-placeholder{color:#55606a;opacity:1;}
.centerarticle-search-field::-webkit-input-placeholder,.centerarticle-search-field::placeholder{color:#55606a;opacity:1;}
.centerarticle-searchwindow{background:#fff;border:1px solid #ccc;-webkit-box-shadow:0 2px 6px rgba(0,0,0,.15);box-shadow:0 2px 6px rgba(0,0,0,.15);-webkit-box-sizing:border-box;box-sizing:border-box;display:none;font-size:13px;left:0;padding:20px 20px 0;position:absolute;top:34px;width:520px;z-index:900;}
.centerarticle-searchwindow-close-button{background:url(https://b.st-hatena.com/images/v4/public/common/icon-close.svg?version=0dea22c86417f0579b30) no-repeat 50%;background-size:12px 12px;border:none;cursor:pointer;height:28px;position:absolute;right:0;top:-34px;width:28px;}
.centerarticle-searchwindow-pager{font-size:12px;padding:0 0 16px;text-align:center;}
.centerarticle-searchwindow-pager .pager-next,.centerarticle-searchwindow-pager .pager-prev{-webkit-appearance:none;background-color:transparent;border:none;border-radius:0;color:#aaa;cursor:default;margin:0 5px;padding:0;position:relative;}
.centerarticle-searchwindow-pager .pager-next:before,.centerarticle-searchwindow-pager .pager-prev:before{border-style:solid;content:"";height:0;position:absolute;top:5px;width:0;}
.centerarticle-searchwindow-pager .pager-prev{padding-left:12px;}
.centerarticle-searchwindow-pager .pager-prev:before{border-color:transparent #aaa transparent transparent;border-width:4px 5px 4px 0;left:0;}
.centerarticle-searchwindow-pager .pager-next{padding-right:12px;}
.centerarticle-searchwindow-pager .pager-next:before{border-color:transparent transparent transparent #aaa;border-width:4px 0 4px 5px;right:0;}
.centerarticle-searchwindow-empty{display:none;}
.centerarticle-searchwindow-empty-message{margin-bottom:20px;}
.centerarticle-searchwindow-readmore{border-top:1px solid #ccc;padding:16px 0;text-align:center;}
.centerarticle-searchwindow-readmore a{color:#009ad0;}
.centerarticle-searchwindow-readmore a:hover{text-decoration:underline;}
.bookmark-item{border-bottom:1px solid #ddd;padding:14px 0 15px 22px;position:relative;}
@media (max-width:480px){
.bookmark-item{padding:12px 0 12px 22px;}
}
.centerarticle-entry{margin-bottom:4px;min-width:480px;}
@media (max-width:480px){
.centerarticle-entry{margin:0;}
}
.centerarticle-entry-title{word-wrap:break-word;font-size:14.5px;line-height:1.4;margin:0 0 4px;}
.centerarticle-entry-title a{color:#25282b;}
.centerarticle-entry-title a:hover{color:#7db4e8;}
@media (max-width:480px){
.centerarticle-entry-title{font-size:13px;}
}
.centerarticle-entry-favicon{height:14px;left:0;position:absolute;top:16px;width:14px;}
@media (max-width:480px){
.centerarticle-entry-favicon{top:13px;}
}
.centerarticle-entry-contents{margin:2px 0 0;position:relative;}
@media (max-width:480px){
.centerarticle-entry-contents{display:none;}
}
.centerarticle-entry-data{display:inline-block;font-size:13px;}
.centerarticle-entry-data>li{display:inline-block;margin-right:6px;max-width:300px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.centerarticle-entry-data a{color:rgba(70,82,94,.8);text-decoration:none;}
.centerarticle-entry-data a:hover{text-decoration:underline;}
.centerarticle-entry-image{display:none;max-height:74px;overflow:hidden;position:absolute;right:0;top:0;width:90px;}
.centerarticle-entry-image img{max-width:100%;}
@media (max-width:480px){
.centerarticle-entry-image{display:none!important;}
}
.is-image-entry-unit .centerarticle-entry-contents{min-height:63px;padding:0 100px 0 0;}
.is-image-entry-unit .centerarticle-entry-image{display:block;}
.centerarticle-reaction{background:#f6f7f8;border-bottom:0;position:relative;}
.centerarticle-reaction-comment{background:#f6f7f8;border-top:1px solid #fff;-webkit-box-sizing:border-box;box-sizing:border-box;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;font-size:12px;margin:0;min-height:53px;padding:12px;}
.centerarticle-reaction-comment a{color:#009ad0;}
.centerarticle-reaction-comment a:hover{text-decoration:underline;}
.centerarticle-reaction-thumb{margin-right:8px;position:relative;}
.centerarticle-reaction-main{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;margin:-2px 0 0;min-width:0;}
.centerarticle-reaction-main .bookmarkadd-private:hover,.centerarticle-reaction-main .bookmarkadd-readlater:hover{background-color:#e2e5e8;}
.centerarticle-reaction-username{display:inline-block;font-size:12px;margin:0 3px 0 0;}
.centerarticle-reaction-username a{color:#009ad0;text-decoration:none;}
.centerarticle-reaction-tags{color:rgba(70,82,94,.8);display:inline;}
.centerarticle-reaction-tags li{display:inline;margin-right:4px;}
.centerarticle-reaction-tags li:first-child:before{background-color:currentColor;content:"";display:inline-block;height:16px;margin-right:2px;-webkit-mask:url(https://b.st-hatena.com/images/v4/public/icons/ic-tag.svg?version=d9658429b585bfa6776f) no-repeat center center;mask:url(https://b.st-hatena.com/images/v4/public/icons/ic-tag.svg?version=d9658429b585bfa6776f) no-repeat center center;-webkit-mask-size:14px;mask-size:14px;vertical-align:text-bottom;width:14px;}
.centerarticle-reaction-tags li a{color:currentColor;}
.centerarticle-reaction-tags li a:hover{text-decoration:underline;}
.centerarticle-reaction-foot{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-top:3px;}
.centerarticle-reaction-meta,.centerarticle-reaction-meta a{color:rgba(70,82,94,.8);}
.centerarticle-reaction-meta .comment-permalink{font-size:10.5px;}
.centerarticle-reaction-meta .comment-permalink{margin-right:8px;}
.centerarticle-reaction-meta .comment-permalink a:before{background-color:currentColor;content:"";display:inline-block;height:10.5px;-webkit-mask:url(https://b.st-hatena.com/images/v4/public/icons/ic-link.svg?version=4c3ef34938a4d6db06a6) no-repeat;mask:url(https://b.st-hatena.com/images/v4/public/icons/ic-link.svg?version=4c3ef34938a4d6db06a6) no-repeat;-webkit-mask-position:center -2px;mask-position:center -2px;-webkit-mask-size:13px;mask-size:13px;vertical-align:middle;width:13px;}
.centerarticle-reaction-timestamp{color:rgba(70,82,94,.8);}
.centerarticle-reaction-menu{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;margin-bottom:-4px;margin-left:auto;margin-right:-4px;position:relative;}
.centerarticle-reaction-following{background:#f6f7f8;border-top:1px solid #fff;line-height:1;padding:0 80px 0 10px;position:relative;}
@media (max-width:480px){
.centerarticle-reaction-following{padding-left:8px;}
}
.centerarticle-reaction-commentedit{border-top:1px solid #fff;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;margin:0;padding:12px;}
.centerarticle-reaction-commentedit .bookmarkadd-comment-form{font-size:13px;}
.centerarticle-reaction-commentedit .bookmarkadd-tags{background-size:12px 12px;}
.centerarticle-reaction-commentedit .bookmarkadd-tags-textbox{font-size:12px;}
.centerarticle-reaction-commentedit .bookmarkadd-options{margin:3px 0 0;}
.centerarticle-reaction-commentedit .bookmarkadd-cancel-btn{margin:0 4px 0 0;}
.centerarticle-reaction-commentedit .bookmarkadd-cancel-btn,.centerarticle-reaction-commentedit .bookmarkadd-submit-btn{font-size:13px;height:26px;padding:3px 12px;vertical-align:top;}
.center-container{padding:25px 32px 0 16px;}
.centerarticle-reaction-edit{font-size: 14px; margin-left: 4px; cursor: hand; cursor:pointer; border-bottom: double;}
.centerarticle-reaction-delete{font-size: 14px; margin-left: 4px; cursor: hand; cursor:pointer; border-bottom: double;}
.centerarticle-reaction-area{text-align: right;}
.bookmarkadd-btns{margin-left: 106px;}
