<div class="center-container">
  <div class="centerarticle-title-container">
    <h2 class="centerarticle-title"> yuuu1993gのブックマーク ({{ bookmarks.length }}) </h2>
  </div>
  <div class="centerarticle-search">
    <form class="centerarticle-search-form" action="/yuuu1993g/search" method="GET">
      <input name="q" type="text" autocomplete="off" class="centerarticle-search-field" placeholder="ブックマークを検索">
      <input class="is-hidden" type="submit" value="検索">
    </form>
  </div>
  <ul>
    <li *ngFor="let bookmark of bookmarks" class="bookmark-item">
      <div class="centerarticle-entry is-image-entry-unit">
        <h3 class="centerarticle-entry-title">
          <a href="{{bookmark.value.url}}" target="_blank" rel="noopener" data-gtm-click-label="user-my-bookmark-title">
            {{bookmark.value.title}}
          </a>
        </h3>
      </div>
      <div class="centerarticle-reaction" id="bookmark-4702432445004098114">
        <div class="centerarticle-reaction-comment is-short-url-clicks-loaded" data-url="https://logmi.jp/tech/articles/324298" data-user-name="yuuu1993g">
          <div class="centerarticle-reaction-main">

            <span [hidden]="bookmark.isEditing">
              <span class="centerarticle-reaction-timestamp">{{bookmark.value.registDate}}</span>
              <span class="centerarticle-reaction-main-comment-tags">
                <ul class="centerarticle-reaction-tags">
                  <li *ngFor="let tag of bookmark.value.tags" >
                    <a href="/yuuu1993g/{{tag.name}}/" data-gtm-click-label="user-my-reaction-tag">{{tag.name}}</a>
                  </li>
                </ul>
              </span>
              <div> {{bookmark.value.comment}} </div>
              <div class="centerarticle-reaction-area">
                <span class="centerarticle-reaction-edit" (click)="toggleEditing(bookmark);">編集</span>
                <span class="centerarticle-reaction-delete" (click)="deleteBookmark(bookmark.value.id);">削除</span>
              </div>
            </span>

            <span [hidden]="!bookmark.isEditing">
              <div class="bookmarkadd-comment">
                <textarea class="bookmarkadd-comment-form" #commentArea placeholder="コメントを入力してください (省略可)">{{bookmark.value.comment}}</textarea>
                <div class="bookmarkadd-comment-footer">
  　              <span class="bookmarkadd-comment-count">
                    <span>0</span>
                    <span class="bookmarkadd-comment-slash">/</span>
                    <span>100</span>
                  </span>
                </div>
              </div>
              <div class="bookmarkadd-options">
                <div class="bookmarkadd-tags">
                  <input #tagSearchBox type="text" class="bookmarkadd-tags-textbox" placeholder="タグ名検索" (focus)="tagSearch(tagSearchBox.value)">
                  <span class="bookmarkadd-btns">
                    <button class="bookmarkadd-cancel-btn" type="button" (click)="toggleEditing(bookmark);">キャンセル</button>
                    <input class="bookmarkadd-submit-btn" type="submit" value="保存する" (click)="updateBookmark(bookmark.value,commentArea.value);toggleEditing(bookmark);">
                  </span>
                  <ul class="search-result">
                    <li *ngFor="let tag of tags$ | async">
                      <input type="checkbox" (change)="changeTag($event, bookmark.value, tag)" [checked]="isTagged(tag.id, bookmark.value)"> {{tag.name}}
                    </li>
                  </ul>
                </div>
              </div>
            </span>
          </div>
        </div>
      </div>
    </li>

    <!--
    <li>
      <div class="centerarticle-pager">
        <span class="centerarticle-waiting is-hidden"><img src="https://b.st-hatena.com/images/v4/public/common/loading@2x.gif?version=4bb643f4ebb85ca735cd112f23d7809ba8d6531d" alt="残りのブックマークを読み込んでいます" width="16" height="16"></span>
            <a href="/yuuu1993g/bookmark?page=1">前のページ</a>
              <span><a href="/yuuu1993g/bookmark?page=1">1</a></span>
              <span>2</span>
              <span><a href="/yuuu1993g/bookmark?page=3">3</a></span>
              <span><a href="/yuuu1993g/bookmark?page=4">4</a></span>
              <span><a href="/yuuu1993g/bookmark?page=5">5</a></span>
              <span><a href="/yuuu1993g/bookmark?page=6">6</a></span>
              <span><a href="/yuuu1993g/bookmark?page=7">7</a></span>
              <span><a href="/yuuu1993g/bookmark?page=8">8</a></span>
              <span><a href="/yuuu1993g/bookmark?page=9">9</a></span>
              <span><a href="/yuuu1993g/bookmark?page=10">10</a></span>
            <a href="/yuuu1993g/bookmark?page=3">次のページ</a>
      </div>
    </li>
    -->
  </ul>
</div>
