.global-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 1080px;
}

#gh-logo {
  background-image:url(https://b.st-hatena.com/images/v4/public/gh-logo@2x.png?version=c8b4654c55c410368e02);
  background-repeat:no-repeat;
  background-size:24px;
  display:inline-block;
  height:24px;
  width:24px;
}
