<div class="left-container">
  <div class="js-user-info" data-user-name="yuuu1993g">
    <div class="centerarticle-profile">
      <a href="http://profile.hatena.ne.jp/yuuu1993g/">
        <img src="https://cdn.profile-image.st-hatena.com/users/yuuu1993g/profile.png" class="centerarticle-profile-image">
      </a>
      <div class="centerarticle-profile-main">
        <a href="http://profile.hatena.ne.jp/yuuu1993g/" class="centerarticle-profile-nickname js-user-info-nickname" target="_blank" rel="noopener">たぬき</a>
        <a href="/yuuu1993g/bookmark" class="centerarticle-profile-username">id:yuuu1993g</a>
      </div>
    </div>
    <ul class="userprofile-status">
      <li>
        <a href="/yuuu1993g/bookmark" class="userprofile-status-link" data-gtm-click-label="user-my-count-bookmark">
          <span class="userprofile-status-count">195</span>
          <span class="userprofile-status-text">ブックマーク</span>
        </a>
      </li>
      <li>
        <a href="/yuuu1993g/follow" class="userprofile-status-link" data-gtm-click-label="user-my-count-follow">
          <span class="userprofile-status-count js-total-followings">0</span>
          <span class="userprofile-status-text">お気に入り</span>
        </a>
      </li>
      <li>
        <a href="/yuuu1993g/follower" class="userprofile-status-link" data-gtm-click-label="user-my-count-follower">
          <span class="userprofile-status-count js-total-followers">0</span>
          <span class="userprofile-status-text">お気に入られ</span>
        </a>
      </li>
    </ul>
  </div>
        <div class="centerarticle-add">
          <a href="/yuuu1993g/add" class="btn-white" data-gtm-click-label="user-addUrl-button"><img src="/images/v4/public/icon-add.svg" alt="ブックマークを追加">ブックマークを追加</a>
        </div>
    <div class="centerarticle-mainNavi">
        <h3 class="centerarticle-mainNavi-title">ブックマーク</h3>
        <ul class="centerarticle-mainNavi-menu">
          <li><a href="/yuuu1993g/bookmark" data-gtm-click-label="user-my-menu-bookmark">ブックマーク</a></li>
          <li><a href="/yuuu1993g/unread_bookmark" data-gtm-click-label="user-my-menu-unread">あとで読む</a></li>
        </ul>
        <h3 class="centerarticle-mainNavi-title">フィード</h3>
        <ul class="centerarticle-mainNavi-menu">
          <li><a href="/yuuu1993g/hotentry" class="is-current" data-gtm-click-label="user-my-menu-myhotentry">マイホットエントリー</a></li>
          <li><a href="/yuuu1993g/interest" data-gtm-click-label="user-my-menu-interest">関心ワード</a></li>
          <li><a href="/yuuu1993g/favorite" data-gtm-click-label="user-my-menu-favorite">お気に入り</a></li>
        </ul>
    </div>
  </div>
